name: 游 Deploy autom치tico no servidor

on:
  push:
    branches:
      - main  # dispara o deploy s칩 quando h치 push na branch main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: 游 Deploy na pasta local existente
        run: |
          echo "游늭 Acessando pasta do projeto..."
          cd /home/dev-host/projetos/markdown-editor
          
          echo "拘勇 Atualizando c칩digo via Git..."
          # Garante que o git confie na pasta (seguran칞a do git moderno)
          git config --global --add safe.directory /home/dev-host/projetos/markdown-editor
          
          git fetch origin main
          git reset --hard origin/main
          
          echo "游냡 Recriando containers..."
          docker compose down --rmi local
          docker compose up -d --build
          docker image prune -f  
      
      - name: 游낀 Check Health
        run: docker ps | grep markdown%     